<div class="home-container">
  <h2>Bienvenue 👋</h2>

  <p class="subtitle">
    Application SPA développée avec Angular
  </p>

  <div class="features">
    <div class="card">
      <h3>🚀 Routing</h3>
      <p>Navigation fluide entre les pages sans rechargement.</p>
    </div>

    <div class="card">
      <h3>🧩 Lazy Loading</h3>
      <p>Chargement des modules à la demande.</p>
    </div>

    <div class="card">
      <h3>🔗 Routes paramétrées</h3>
      <p>Affichage dynamique des détails via l’URL.</p>
    </div>
  </div>

  <a routerLink="/suggestions" class="btn">
    Voir les suggestions
  </a>
</div>
